.heading-container {
    text-align: center;
    height: 20vh;
    color: #373c3e;
}

body {
    background-color: rgb(107, 217, 236);
}

.item-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.application {
    display: flex;
    flex-direction: row;
    height: 70vh;
    color: #373c3e;
}

.col {
    width: 30%;
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container, .output-container {
    border-left: 2px solid #373c3e;
    border-right: 2px solid #373c3e;
}

.input-container {
    justify-content: space-between;
}

.calculate-container {
    /*justify-content: space-between;*/
}

#errors_list {
    padding-left: 0;
    color: red;
}

.errors-container {
    width: 100%;

}

.output-container {
    align-items: flex-start;
}

.control {
    width: 25vw;
    border-radius: 4%;
    padding: 2%;
}

#calculate_btn {
    width: 100%;
    border-radius: 4%;
    cursor: pointer;
    padding: 4%;
    color: #373c3e;
    justify-content: flex-end;
    margin-top: 11%;
    margin-bottom: 20%;
    font-weight: bold;
}

#checksum_text {
    height: 30vh;
}

.success {
    color: forestgreen;
}

.failure {
    color: red;
}

.hidden {
    display: none;
}

#result_status {
    font-size: 1.3rem;
    font-weight: bolder;
}